#notice
  %p
    = notice
.post_title
%b
  = @post.title
.main-text
  %p
    = @post.body
.comments
  -@post.comments.each do |comment|
    = render "comment", :comment => comment
.new-comment-form
  %strong Comments: 
  -if user_signed_in? 
    = form_for [@post, @post.comments.new], :remote => true do |f|
      #new_comment_form_body
        = f.text_area :body, :rows => 2
      = f.submit "Ok", :class => "flat-ok-button" 

