<p id="notice"><%= notice %></p>

  <b>Title:</b>
  <%= @post.title %>
</p>

<div class="textarea-1">
  <%= @post.body %>
</div>
<div class="comments">
  <% @post.comments.each do |comment|%>
    <div class = "comment">
      <%= render "comment", :comment => comment%>
    </div> 
  <% end %>
</div>
<div class = "comments_form">
  <strong> Comments: </strong>
  <% if user_signed_in? %>
    <%= form_for [@post, @post.comments.new], :remote => true do |f| %>
      <%= f.label :body %>
      <%= f.text_area :body%>
      <%= f.submit %>
    <% end %>
  <% end %>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
